$colorBlue: #ccdbf5;
$colorGray: #f3f3f3;
$colorWhite: white;
$colorBlack: black;
$colorYellow: #f5e0b7;
$colorWarning: #FB6C68;
$borderRadius: 35px;
$fontColor: black;
$backgroundColor: rgba(255, 255, 255, 0.3);
$fontFamily: 'Gilroy', Arial, Helvetica, sans-serif;