@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Thin.woff') format('woff');
  font-weight: 100;
  font-display: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #ccdbf5;
  --color-gray: #f3f3f3;
  --color-white: white;
  --color-black: black;
  --color-yellow: #f5e0b7;
  --color-warning: #FB6C68;
  --border-radius: 35px;
  --font-color: black;
  --background-color: rgba(255, 255, 255, 0.5);
  --font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  background: linear-gradient(to right, rgb(56, 189, 248), rgb(59, 130, 246));
  background-color: white;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-blue);
}

.home__form {
  display: flex;
  flex-direction: column;
}

.home__input {
  width: 400px;
  font-size: 22px;
  padding: 8px 14px 8px 14px;
  margin-bottom: 5px;
  border-radius: 22px;
  border: none;
}

.home__input:focus {
  outline: none;
}

.home__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
}

.home__btn {
  padding: 14px;
  margin-left: 8px;
  background-color: var(--color-yellow);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
}

.err-display {
  min-height: 19px;
  text-align: center;
  color: var(--color-warning);
  font-weight: 800;
}


/* WEATHER */

.weather-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 24px 12px;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  background-color: transparent;
}

/* city info */

.city-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}
.city__name,
.city__country,
.city__sunrise,
.city__sunset {
  padding: 0;
  margin: 0;
}

.city__name {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

.city__country {
  font-weight: 500;
}

.city__sunrise,
.city__sunset {
  font-weight: 500;
}

/* search form */

.weather-form {
  width: 100%;
  z-index: 2;
}

.weather-input {
  padding: 12px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  font-size: 22px;
  line-height: 1;
  border: none;
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
  background-color: var(--background-color);
}

.weather-input:focus {
  outline: none;
}

/* weather info */

.weather-info-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  height: fit-content;
  z-index: 2;
  border-radius: var(--border-radius);
}

.weather-widget {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  max-height: 110px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
}

.weather-info,
.weather-desc {
  padding: 0;
  margin: 0;
}

.weather-icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: var(--border-radius);
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 8px;
}

.weather-info {
  font-size: 24px;
  font-weight: 600;
}

.weather-desc {
  font-size: 18px;
  font-weight: 300;
}

.wind-widget {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  max-height: 110px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
}

.wind-icon {
  width: 50%;
  height: auto;
}

.wind-heading,
.wind-speed,
.wind-deg {
  padding: 0;
  margin: 0;
}

.wind-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: white;
  border-radius: var(--border-radius);
}

.wind-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.wind-heading {
  font-size: 24px;
  font-weight: 600;
}

.wind-speed,
.wind-deg {
  font-size: 14px;
  font-weight: 500;
}

.temp-widget {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 8px;
  backdrop-filter: blur(14px);
}

.temp-widget-text,
.temp-main {
  padding: 0;
  margin: 0;
}

.temp-main-widget {
  height: 100%;
}

.temp-widget-text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.temp-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 124px;
  font-weight: 600;
  height: 80%;
}

.temp-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
}

.temp-feels-like,
.temp-min,
.temp-max {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
}

.temp-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 12px;
}

.temp-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 50%;
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
}

.temp-icon {
  width: 50%;
  height: auto;
}

.pressure-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 110px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
}

.pressure-text {
  font-size: 16px;
  font-weight: 600;
}

.pressure-value {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 32px;
  font-weight: 800;
}

.humidity-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 110px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(14px);
}

.humidity-text {
  font-size: 16px;
  font-weight: 600;
}

.humidity-value {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 32px;
  font-weight: 800;
}

.map {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0; */
  pointer-events: none;
  z-index: 0;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: saturate(200%)
}

.map-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  /* background: radial-gradient(ellipse at 40% 50%, transparent 30%, rgb(255, 255, 255) 75%); */
  z-index: 1;
}